<!doctype html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <title>Hello app</title>
</head>

<body>
  <h1>Hello</h1>
  <div id="app">

    <h2>ALL RECORDS</h2>

    <!-- <ul v-if="records" id="recordId">
      <li v-for="record in records">{{record.id}} {{record.title}} {{record.artist}} {{record.yop}}
        {{record.albumRating}}</li>
    </ul>
    <div v-else>No Records</div> -->

    <div class="container">
      <table class="table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Artist</th>
            <th>Yop</th>
            <th>Albumrating</th>
          </tr>
        </thead>
        <tr v-for="record in records">
          <td>{{record.id}}</td>
          <td>{{record.title}}</td>
          <td>{{record.artist}}</td>
          <td>{{record.yop}}</td>
          <td>{{record.albumRating}}</td>
        </tr>
      </table>
    </div>
    <br>
    

    <h2>Search on an artist</h2>
    <input v-model="id" placeholder="id" type="number">
    <button v-on:click="getRecordById(id)" >Get record</button> 
    <div v-if="record">{{record}}</div>
    <div v-else>No such record</div>
    


    </div>
    <h2>Add a new music record</h2>

    <h2>Delete by ID</h2>

    <h2>Edit a record</h2>

  </div>




  <script src="bundle.js"></script>
</body>

</html>